* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, p, select, textarea {
  font-family: 'Poppins', sans-serif;
}

legend, h1, footer {
  font-family: 'Staatliches', sans-serif;
  letter-spacing: 0;

}
body {
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
}

body::before {
  content: '';
  width: 100%;
  height: 436px;
  background-color: #535971;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: auto;
}

header {
  width: 736px;
  margin-top: 140px;
}

header h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 18px;
}

header p {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 62px;
  gap: 2px;
}

form {
  margin-top: 60px;
  background: #FFFFFF;
  min-height: 300px;
  padding: 60px 71px 60px 57px;
  border-radius: 8px 8px 0 0;
}
fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

legend {
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  line-height: 34px;
  width: 100%;
  color: #535971;
  border-bottom: 1px solid #E6E6F0;
  padding: 3px;
  text-align: left;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  margin-bottom: 8px;
}
.input-wrapper label span {
  margin-left: 9px;
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;
}

.input-wrapper input {
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  height: 56px;
  padding: 0 10px;
  font-size: 15px;
  color: #6C6A71;
}

.col-2 {
  display: flex;
  gap: 20px;
  padding: auto;
}

.col-2 > div:nth-child(1) {
  width: 100%;

}

.col-3 {
  display: flex;
  gap: 22px;
}

.col-3 > div:nth-child(1) {
  width: 100%;

}

.first {
  border: none;
  font-size: 20px;
  line-height: 8px;
}

#event-password, #mentorship-name, #second {
  margin-bottom: 32px;
}

footer {
  background: #535971;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding: 40px 64px;
  margin-bottom: 100%;
  border-radius: 0 0 8px 8px;

}

footer .button {
  height: 55px;
  background: #fd5e7e;
  border-radius: 20px;
  border: 0;
  font-family: 'Staatliches', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 0;

}

footer .button:hover {
  background: #FF5374;
}
